body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    zoom: 75%;

}
/*header*/
.container header{
    width: 1260px;
    height: 150px;
    background-color: #bbbbbb2d;
    margin-top:-50px ;
    margin-left: -35px;
    
  }
  
.container{
    width: 1200px;
    background-color: rgb(248, 248, 248);
    box-shadow: 0px 5px 20px #999;
    border-radius: 5px;
    text-align: center;
    padding: 30px 24px 0px 35px ;
    margin-top: 20px;
}

 .container .form-outer {
  overflow: hidden;  
    width: 102%;
    
}
img{
 height: 100%;

}
.image{
    height: 750px;
      filter: grayscale(1);/*6*/
     /*7 - Transition */
   transition-property: filter width; 
   transition-duration: .3s;
   transition-timing-function: ease; 
}
.img:hover .image {
    filter: grayscale(0)
}

.form-outer form{
    display: flex;
    width: 550%;
}
.form-outer form .page{
    width: 25%;
    transition: margin-left 0.3s ease-in-out;
}
.form-outer form .page .marge{
    margin-left: 30px;
}
.form-outer form .page .title{
    text-align: left;
    font-size: 25px;
    font-weight: 500;
}
.form-outer form .page .filed{
    height: 45px;
    width: 600px;
    margin: 40px 0;
    display: flex;
    position: relative;
}
.form-outer form .page .filed .label{
position: absolute;
font-size: 18px;
top: -25px;
}

.form-outer form .page .filed input{
    height: 80%;
    width: 80%;
    border: 1px solid lightgrey;
    border-radius: 5px;
    font-size: 16px;
    padding-left: 5px;
    margin-left: -20px;
}
/* SELECT*/
.form-outer form .page .filed select{
    height: 80%;
    width: 80%;
    border: 1px solid lightgrey;
    border-radius: 5px;
    font-size: 14px;
    padding-left: 20px;
    margin-left: -20px;
}
/* RADIO*/
.form-outer form .page .filed_radio{
    height: 45px;
    width: 400px;
    margin-top: 10px;
    
    position: relative;
}
.form-outer form .page .filed_radio .label{
position: absolute;
font-size: 16px;


}

.form-outer form .page .filed_radio h4{
    width: 500px;
    text-align: left;
    font-size: 18px;
}
.form-outer form .page .filed_radio input{
    height: 40%;
    width: 40%;
    padding-left: 5px;
    margin-left: -20px;
    
  
}
/* CHECK*/
.form-outer form .page .filed_check{
    height: 45px;
    width: 100px; 
    position: relative;
}
.form-outer form .page .filed_check .label{
position: absolute;
top: -20px;
}


.form-outer form .page .filed_check input{
    height: 40%;
    width: 40%;
    padding-left: 5px;
    margin-left: -20px;
    
}
.form-outer form .page .filed_star{
    height: 45px;
    width: 50px;
   
    position: relative;
}

/* BUTTON*/
.form-outer form .page .filed button{
    width: 40%;
    height: 100%;
    margin-top: -20px;
    border: none;
    background-color:#0275c6;
    border-radius: 5px;
    color: #ffffff;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: uppercase;
    cursor: pointer;
    transition: 0.3s ease;

}

.form-outer form .page .filed button:hover{
    background: #000;
}
.form-outer form .page .btns button{
    margin-top: -20!important;
}
form .page .btns button.prev{
    margin-right: 3px;
    font-size: 17px;
}
form .page .btns button.next{
    margin-left: 3px;
    font-size: 17px;
}
/* PROGRESS BAR*/
.container .progress-bar{
    display: flex;
    margin: 50px 0px 0px 20px;
}
.container .progress-bar .step{
    position: relative;
    text-align: center;
    width: 100%;
}

.progress-bar .step .bulle{
    position: relative;
    height: 25px;
    width: 25px;
    border: 2px solid#DAA520;
    display: inline-block;
    border-radius: 50%;
    transition: 0.2s;
}
.progress-bar .step .bulle.active{
    border: 2px solid#DAA520;
    
  
}

.progress-bar .step:last-child .bulle:before,
.progress-bar .step:last-child .bulle:after{
    display: none;
}

.progress-bar .step .bulle:before,
.progress-bar .step .bulle:after{
    position: absolute;
    content:'';
    margin-left: 30px;
    margin-top: 10px;
    height: 3px;
    width: 200px;
    background: #8a8989;
}
.progress-bar .step .bulle.active:after{
    background: #0275c6; 
    
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 0.3s linear forwards;
}
@keyframes animate {
    100%{
        transform: scaleX(1);
    }
}
.progress-bar .step .bulle span{
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    
}
.progress-bar .step .bulle.active span{
    display: none;
} 
.progress-bar .step .check {
    position: absolute;
    left: 22%;
    top:19%;
    font-size: 15px;
    transform: translate(-50% -50%);
    display: none;
    height: 15px;
    width: 15px;
    background-color:#2042da;
    
    border-radius: 50%;
}
.progress-bar .step .check.active
{
    display: block;
    background-color:#2042da;
}
.rating {
	cursor: pointer;
}

.rating .rating-star {
	display: inline-block;
  position: relative;
  padding-right: 5px;
  margin-left: -5px;
  color: #e3cf7a;
}
.rating .selected:before {
  content: '\f005';
}

