body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

}
.container{
    width: 800px;
    background-color:bisque;
    border-radius: 5px;
    text-align: center;
    padding: 50px 35px 10px 35px ;
}
.form-outer form{
    display: flex;
    width: 1000%;
}